body
{
  background-color: #23272A;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 95vh;
  width: 55vw;
  background-color: #2C2F33;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 8px black;
  border-radius: 5px;
  overflow-y: auto;

}
table {
  padding: 10px;
}

table th{
  width: 50%;
  text-align: left;
}
table td{
  width: 50%;
  height: 50px;
}

input[type="text"], select {
  width: 100%;
  border: 3px solid white;
  background-color: #2C2F33;
  border-radius: 5px;
  color: white;
  -webkit-appearance: none;
  text-align: center;
}
input[type="range"]{
  border: none;
}
input[type="range"]{
  border: none;
}
button {
  width: 100%;
  height: 100%;
  color: white !important;
  border: 3px solid white !important;
  border-radius: 5px !important;
}
#hourShow{
  float: right;
}

input[type="radio"]{
  margin: 0 0px 0 10px;
}

.uk-select{
  background-color:#2C2F33;
  color:white;
}
.uk-textarea{
  background-color:#2C2F33;
}
